* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
  }
  
  h1 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 3.6rem;
    line-height: 4.7rem;
    color: #901C1C;
  }
  
  h2 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 3.6rem;
    line-height: 47px;
    color: #D3573C;
  }

  /*** Fin classe default ***/

  .photographer__localisation, .infos__localisation {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #901C1C;
  }
  .photographer__tagline, .infos__tagline {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    color: #000000;
  }
  .photographer__price, .infos__price {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 12px;
    color: #757575;
  }
  
  .btn {
    width: 170px;
    background-color: #901C1C;
    color: white;
    font-size: 1.8rem;
    font-family: "DM Sans";
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .btn-dropdown {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .contact__button {
    width: 170px;
    height: 69px;
    background-color: #901C1C;
    color: white;
    font-size: 2rem;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    line-height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .contact__button:hover, .contact__button:focus {
    background-color: #DB8876;
    color: #000;
  }
  
  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 1240px;
    padding-top: 42px;
    padding-left: 71px;
    padding-right: 71px;
  }
  
  .header-photographer {
    display: block;
    padding-top: 42px;
  }
  
  .navigation__list {
    padding-top: 15px;
    padding-right: 50px;
    display: flex;
  }

  .body-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    width: -moz-fit-content;
  }
  
  .anchor {
    display: none;
    position: fixed;
    background: #DB8876;
    color: #000;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    border-radius: 5px;
    padding: 24px 24px;
    top: 1%;
    left: calc(46.5% + -90px);
  }
  
  .content {
    padding-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1240px;
  }

  .content__medias {
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
  }
  
  .wrapper {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 103px;
    width: 100%;
  }
  
  .photographer {
    width: 342px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 50px;
  }
  .photographer__link {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .photographer__avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .photographer__text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .photographer__localisation {
    margin-bottom: 3px;
  }
  .photographer__tagline {
    margin-bottom: 3px;
  }
  .photographer__price {
    margin-bottom: 10px;
  }
  
  .infos {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 50px 56px;
    background-color: #FAFAFA;
    border-radius: 5px;
    margin-top: 32px;
  }

  .infos__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
  }
  .infos__name {
    font-size: 4rem;
    color: #D3573C;
    margin-bottom: 20px;
  }

  .infos__localisation {
    color: #901C1C;
    font-size: 2.4rem;
    margin-bottom: 19px;
    font-weight: 400;
  }
 
  .infos__tagline {
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: 300;
    color: #525252;
    margin-bottom: 15px;
  }

  .infos__avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .sort {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 32px;
  }

  .sort__title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-right: 20px;
  }
  .sort__dropdown {
    position: relative;
  }
  .sort__options {
    background-color: #901C1C;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 5px;
  }
  .sort__option {
    background-color: #901C1C;
    color: #FAFAFA;
    font-family: "DM Sans";
    width: 170px;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 20px;
  }
  .sort__option-1 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
  }
  .sort__option-2 {
    position: relative;
    text-align: left;
  }
  .sort__option-2::before {
    content: "";
    width: 85%;
    height: 1px;
    background-color: #FAFAFA;
    position: absolute;
    left: 7.5%;
    top: 0;
  }
  .sort__option-3::before {
    content: "";
    width: 85%;
    height: 1px;
    background-color: #FAFAFA;
    position: absolute;
    left: 7.5%;
    top: 0;
  }
  .sort__option-3 {
    position: relative;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;
  }
  .sort__show {
    display: flex;
    flex-direction: column;
    height: 170px;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .modal__header {
    display: flex;
    justify-content: space-between;
  }
  .modal__wrapper {
    background-color: #DB8876;
    padding: 35px;
    max-width: 658px;
  }

  .modal__title, .modal__photographer {
    color: black;
    font-size: 6.4rem;
    margin-bottom: 20px;
    line-height: 70px;
    margin-right: 70px;
  }

  .modal__photographer {
    margin-top: 9px;
  }
  .modal__label {
    font-family: "DM Sans";
    font-size: 3.6rem;
    color: #312E2E;
  }

  .modal__input {
    height: 58px;
    font-size: 2.4rem;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    background: #FFF;
  }

  .modal__textarea {
    margin-bottom: 13px;
    font-size: 2.4rem;
    padding-left: 10px;
    padding-top: 15px;
    border-radius: 5px;
    border: none;
  }

  .modal__btn {
    width: 170px;
    height: 69px;
    background-color: #901C1C;
    color: white;
    font-size: 2rem;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    line-height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: none;
    border: none;
  }
  .modal__btn:hover, .modal__btn:focus {
    background-color: #312E2E;
    color: white;
  }

  .modal__close {
    background: url(/assets/images/close_modal.svg) center/100% no-repeat;
    text-indent: 10000px;
    width: 42px;
    height: 42px;
    border: none;
    cursor: pointer;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  /* Contact Form verification */
  .input-error {
    background-color: #901C1C;
    color: white
  }

  .error-message {
    display: none;
    font-size: 16px;
    font-weight: 700;
    color: #312E2E;
    margin-bottom: 16px;
  }

  .medias__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 95px;
    row-gap: 50px;
  }
  
  .media__card {
    width: 350px;
    margin-bottom: 20px;
  }

  .media__photo {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 5px;
  }

  .media__text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 2.1rem;
    color: #901C1C;
  }

  .media__heart {
    cursor: pointer;
    color: #901C1C;
  }
  .media__likes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60px;
  }
  
  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
  }

  .lightbox__next, .lightbox__prev {
    background: url(/assets/images/arrow.svg) center center/100% 100%;
    width: 30px;
    height: 48px;
    border: none;
    position: fixed;
    top: 50%;
    right: 2%;
    margin-top: -14px;
    text-indent: 10000px;
    cursor: pointer;
  }

  .lightbox__prev {
    right: auto;
    left: 2%;
    transform: rotate(180deg);
  }
  .lightbox__close {
    width: 42px;
    height: 42px;
    background: url(/assets/images/close.svg) center/100%;
    border: none;
    text-indent: 10000px;
    cursor: pointer;
    position: fixed;
    top: 10%;
    right: 2%;
  }

  .lightbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    width: 90%;
  }

  .lightbox__photo {
    max-width: 100%;
    height: 90vh;
    object-fit: cover;
  }

  .lightbox__video {
    width: 90vw;
    max-width: 100%;
    height: 90vh;
    object-fit: cover;
  }
  
  .chevron_down {
    width: 16px;
    height: 10px;
    align-self: center;
  }
  .chevron_up {
    width: 16px;
    height: 10px;
    transform: rotate(180deg);
    align-self: center;
  }
  
  .likes {
    position: fixed;
    bottom: 0;
    right: 5%;
    padding: 0 30px;
    background-color: #DB8876;
    color: black;
    display: flex;
    width: 376px;
    height: 63px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 2.4rem;
    align-items: center;
    font-family: "DM Sans";
    font-weight: 500;
    justify-content: space-between;
  }
  
  .likes__numbers {
    display: flex;
    align-items: center;
  }
  .likes__total {
    margin-right: 5px;
  }
  
  .animation {
    animation-duration: 0.5s;
    animation-name: slide;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse;
  }

  @media screen and (max-width: 1280px) {
    .content__medias {
        width: 991px;
    }

    .medias__wrapper {
      grid-template-columns: 1fr 1fr;
      column-gap: 290px;
      row-gap: 50px;
    }

    .media_photo {
      height: 360px;
    }

    .header {
      width: 991px;
      padding-right: 50px;
      padding-left: 50px;
    }

    .wrapper {
      width: 991px;
      column-gap: 43px;
    }

    .photographer {
      width: 300px;
    }

    .photographer__name {
      text-align: center;
    }

    .content {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 991px;
    }
  }

  @media screen and (max-width: 991px) {
    .content__medias {
        width: 767px;
    }

    .medias__wrapper {
      grid-template-columns: 1fr 1fr;
      column-gap: 62px;
      row-gap: 30px;
    }

    .infos__avatar {
      width: 125px;
      height: 125px;
    }

    .wrapper {
      grid-template-columns: repeat(2, 1fr);
      width: 767px;
      column-gap: 164px;
    }

    .header {
      width: 767px;
      padding-left: 0;
      padding-right: 0;
    }

    .wrapper .photographer__avatar {
      width: 300px;
      height: 300px;
    }

    .content {
      width: 767px;
    }
  }

  @media screen and (max-width: 767px) {
    .infos {
      flex-direction: column;
    }

    .content__medias {
      width: 550px;
    }

    .infos__text {
      margin-right: 0;
    }

    .infos__text h1 {
      margin-left: auto;
      margin-right: auto;
    }

    .infos__text .infos__localisation {
      margin-left: auto;
      margin-right: auto;
    }

    .photographer__avatar.infos__avatar {
      margin-top: 19px;
    }

    .modal__title, .modal__photographer {
      font-size: 4.5rem;
    }

    .medias__wrapper {
      grid-template-columns: 1fr;
    }

    .media__card {
      margin: auto;
    }

    .media__photo {
      height: 350px;
    }

    .sort {
      justify-content: center;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .content {
      width: 480px;
    }

    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 480px;
    }

    .wrapper {
      width: 480px;
    }
  }
  
  @media screen and (max-width: 480px) {

    h1 {
      font-size: 3.5rem;
      line-height: 1.82rem;
      text-align: center;
      margin-top: 16px;
    }

    .contact__button {
      height: 50px;
      position: fixed;
      bottom: 30px;
      width: 200px;
      left: calc(46.25% - 85px);
    }

    .header {
      width: 300px;
      padding-top: 40px;
    }

    .header .header__logo {
      width: 250px;
      height: auto;
    }

    .header-photographer {
      padding-left: 20px;
      padding-top: 40px;
    }

    .header__logo {
      width: 150px;
      height: 37.5px;
    }

    .photographer__name {
      font-size: 3rem;
    }

    .navigation__list {
      flex-wrap: wrap;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      padding-right: 0;
    }

    .navigation__li {
      margin-bottom: 15px;
    }

    .body-wrapper {
      display: flex;
      flex-direction: column;
    }

    .content {
      width: 300px;
      padding: 0;
      margin: auto;
    }

    .content__medias {
      width: 100%;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      width: 300px;
      padding-top: 40px;
    }

    .infos {
      background-color: #FFF;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px 56px;
      background-color: #FAFAFA;
      border-radius: 5px;
      margin-bottom: 32px;
    }

    .infos__name {
      font-size: 3.6rem;
      margin-bottom: 10px;
      width: 228px;
      line-height: 3rem;
    }

    .infos__localisation {
      font-size: 1.3rem;
      margin-bottom: 5px;
    }

    .infos__tagline {
      font-size: 1.3rem;
      line-height: 1.7rem;
    }

    .infos__avatar {
      top: 30px;
      right: 0px;
      width: 100px;
      height: 100px;
    }

    .sort {
      display: none;
    }

    .modal {
      border-radius: 5px;
    }

    .modal__wrapper {
      padding: 20px;
      height: 100%;
      width: 100%;
    }

    .modal__title, .modal__photographer {
      font-size: 3.6rem;
      line-height: 4.67rem;
      margin-bottom: 12px;
    }

    .modal__label {
      font-size: 2.4rem;
      margin-top: 14px;
      margin-bottom: 4px;
    }

    .modal__input {
      height: 52px;
    }

    .modal__textarea {
      margin-top: 10px;
    }

    .modal__btn {
      height: 35px;
      font-size: 1.8rem;
      line-height: 2.33rem;
      margin-left: auto;
      margin-right: auto;
    }

    .medias__wrapper {
      display: flex;
      flex-direction: column;
    }

    .media__card {
      margin-left: auto;
      margin-right: auto;
    }

    .media__photo {
      height: 190px;
    }

    .media__text {
      font-size: 1.4rem;
    }

    .media__likes {
      font-weight: 500;
    }

    .lightbox__next, .lightbox__prev {
      height: 23px;
      width: 23px;
      right: 3%;
    }
    
    .lightbox__close {
      top: 25%;
      width: 23px;
      height: 23px;
      right: 3%;
    }

    .lightbox__container {
      width: 75vw;
      height: 40vh;
    }

    .lightbox__photo {
      height: 40vh;
      width: 75vw;
      border-radius: 5px;
    }
    
    .lightbox__video {
      height: 40vh;
      width: 75vw;
      border-radius: 5px;
    }

    .likes {
      display: none;
    }

    .wrapper .photographer__avatar {
      width: 200px;
      height: 200px;
    }
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(20px);
    }
  }
  
  /*# sourceMappingURL=main.css.map */
  