@import url(style.css);
@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}
#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 36px 72px;
}

.photograph-header .photograph-header__title {
    margin: 0;
}

.row-has--columns {
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    padding: 0 15px;
}

.d-flex {
    display: flex;
}

.d--inline-block {
    display: inline-block;
    margin-right: 8px;
}

.justify-content--space-between {
    justify-content: space-between;
}

.flex--grow-1 {
    flex-grow: 1;
}

.align-items--center {
    align-items: center;
}

.w-100 {
    width: 100%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.img--rounded {
    height: 11em;
    width: 11em;
    object-fit: cover;
    border-radius: 100%;
}

.photographer-media__picture {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 5px;
    color: #901C1C;
}

.photograph-medias article section div p a i {
    color: #000;
    font-weight: 700;
}

.photograph-medias article section div p {
    font-weight: 700;
}

.photograph-medias article section div p.one {
    color: #901C1C;
    transition: 1s;
}

.photograph-medias article section div p.one + a i {
    color: #901C1C;
    transition: 1s;
    animation: scale 1.5s;
}

.photograph-medias__counter {
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 30px;
}


.photograph-medias__counter p {
    font-weight: bold;
    margin: 0 8px;
}

/*** Contact Form ***/
textarea {
    border: none;
    resize: none;
    width: 100%;
}

#contact {
    font-size: 3.55em;
    margin: 0;
}

form div input {
    border-radius: 10px;
}

form div textarea {
    border-radius: 10px;
}

/*** Ly ***/
.ly--container-lg {
    padding: 36px 98px;
}

.ly--container-sm {
    width: 250px;
    padding: 16px 32px;
    background-color: #DB8876;
    border-radius: 5px 5px 0 0;
}

/*** Font-size ***/
.title--xxl {
    font-size: 4em;
}

.title--md {
    font-size: 1.33em;
}

/*** Flex ***/
.flex--row {
    flex-direction: row;
}

.mb-lg {
    margin-bottom: 32px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:focus {
    background-color: #D3573C;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 25%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: start;
}

.modal header div {
    margin-bottom: 32px;
}

.modal header img {
    cursor: pointer;
    margin-top: 16px;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
}

.modal header h2 span {
    font-size: 64px;
    display: block;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.error-message {
    display: none;
    color: #312E2E;
    text-transform: uppercase;
    font-weight: 700;
}

form input:focus {
    border: 2px solid #312E2E;
    outline: 0;
}

form textarea:focus {
    border: 2px solid #312E2E;
    outline: 0;
}

/* Formulaire de Tri */
label[for="tri"] {
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    color: black;
    font-weight: 600;
}
#tri {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    height: 2rem;
    margin-left: 24px;
    background-color: #901C1C;
    outline: 0!important;
    border: 0;
    color: white;
}

#tri:focus {
    background-color: #D3573C;
}

select#tri option:first-child {
    color: rgba(255, 255, 255, 0.5);
}

/*** Galerie ***/
.photographer__media a {
    display: block;
}
.photographer__media a:focus img,
.photographer__media a:focus video {
    border: 3px solid #D3573C;
}

.love-btn:focus {
    color: #D3573C;
}
/*** LightBox ***/
#galerie {
    background-color: rgba(255, 255, 255, 0.90);
    position: absolute;
    width: 1050px;
    top: 50%;
    right: 20%;
    margin: auto;
    display: none;
}

#galerie button {
    background-color: transparent;
    border: 0;
}

#galerie button:focus {
    border: 3px solid #D3573C;
}

.modal-galerie {
    padding: 32px;
    position: relative;
}
.modal-galerie header {
    position: relative;
    align-items: baseline;
    justify-content: end;
}

.modal-galerie__cross a {
    position: absolute;
    right: 0;
}

.modal-galerie__cross i {
    display: inline-block;
    text-align: center;
    width: 42px;
    height: 42px;
    font-size: 42px;
    color: #901C1C;
}

.modal-galerie__cross i:hover {
    color: #D3573C;
}

#galerie .arrows__container i {
    font-size: 42px;
    color: #901C1C;
}

#galerie .arrows__container a.left-arrow-lightbox:hover i {
    color :#D3573C;
}

#galerie .arrows__container a.right-arrow-lightbox:hover i {
    color :#D3573C;
}

#galerie .arrows__container {
    position: absolute;
    top: 50%;
    display: flex;
    width: 94.5%;
}

#galerie .arrows__container a.left-arrow-lightbox {
    position: absolute;
    left: 0;   
}

#galerie .arrows__container a:focus {
    border: 3px solid #D3573C; 
}

#galerie .arrows__container a.right-arrow-lightbox {
    position: absolute;
    right: 0;
}

.modal-galerie {
    text-align: center;
}

.modal-galerie__image img {
    width: 80%;
}

#lightbox__name {
    width: 80%;
    text-align: left;
    margin: auto;
    color:#901C1C;
    margin-top: 24px;
    font-size: 24px;
}
